:root {
  --bs-font-sans-serif: "Montserrat";
}
/*----MAIN-ELEMENTER----*/

body {
  overflow-x: hidden;
  max-width: 100vw;
}

.no-gutter {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
}

header {
  z-index: 100;
}

h1 {
  font-family: "Montserrat";
  font-weight: bold;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  margin-top: 3vh;
  margin-bottom: 5vh;
}

h2 {
  font-family: "Montserrat";
  font-weight: bold;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  margin-top: 3vh;
  margin-bottom: 5vh;
}

h3 {
  font-family: "Montserrat";
  font-weight: bold;
  margin-bottom: 3vh;
}

p {
  font-size: 1.1rem;
}

button {
  background-color: #f6e6e6;
  border: none;
  font-family: var(--bs-font-sans-serif);
  font-weight: bold;
  color: #434343;
}

a {
  font-family: var(--bs-font-sans-serif);
  text-decoration: none;
  color: black;
  font-weight: bold;
}

a:hover {
  opacity: 70%;
  color: black;
}

.some-icon {
  font-family: var(--bs-font-sans-serif);
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.nav-knap button {
  width: auto;
}

/*----SPLASH-----*/
.splash-bg {
  background-color: #f6e6e6;
}

.splash-mobil {
  background-image: url(img/splash-mobil.png);
  background-size: cover;
  background-position: 48%;
  height: 55vh;
}

/* .bg-splash {
  background-color: #f6e6e6;
} */

#button-splash {
  align-items: center;
}

/* VIDEO */
.video-mood {
  height: 45vh;
  width: 100%;
  object-fit: contain;
  overflow-x: hidden;
  object-position: center;
}

/* KARRUSSEL MOBIL OPSKRIFTER */
.carousel-item img {
  height: 70vh;
  object-fit: cover;
  object-position: 50%;
}

.carousel-caption {
  background-color: rgba(255, 255, 255, 0.438);
  color: black;
}

.carousel-caption h5 {
  font-weight: bold;
}

.opskrifter-tablet {
  height: 30vh;
  object-fit: cover;
  object-position: 50%;
}

#tablet-opskrifter {
  display: none;
}

/* SINGLE SHOTS MOBIL */
.flaske-single {
  height: 50vh;
  width: 100%;
  object-fit: cover;
  object-position: 50%;
}

.text-gutter-costum {
  padding: 3rem;
  padding-bottom: 0;
  padding-top: 0;
}

.straw {
  background-color: #f1b9b8;
}

.lime {
  background-color: #cfe4b0;
}

.pine {
  background-color: #f2d194;
}

.mango {
  background-color: #ffd36b;
}

.color-graphic {
  width: 50vw;
  object-fit: contain;
  object-position: 50%;
}

/* INFOGRAFIK */
.infografik {
  width: 100vw;
}

.info img {
  height: auto;
}

.bg-info-infografik {
  background-color: #f9f9f9;
}

/* SOME-OPSLAG */
.some {
  width: 100vw;
  object-fit: cover;
  object-position: 50%;
  height: 25vh;
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .mobil-splash-bg {
    background-color: #f6e6e6;
  }

  button p {
    font-size: 1rem;
  }
}
/* END "sm-" 576px and up */

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #carouselExampleCaptions {
    display: none;
  }

  #tablet-opskrifter {
    display: block;
  }

  .flaske-img {
    object-fit: cover;
    object-position: 50%;
    background-color: #cfe4b0;
  }

  button p {
    font-size: 1rem;
    padding: 0.5rem;
  }
}
/* END "md-" 768px and up */

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .splash-desk {
    background-image: url(img/splash.png);
    background-size: cover;
    background-position: 0%;
    background-repeat: no-repeat;
    height: 85vh;
  }

  .splash-mobil {
    display: none;
  }

  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 3.5rem;
  }

  h3 {
    font-size: 2rem;
  }

  p {
    font-size: 1.5rem;
  }

  a {
    font-size: 1.5rem;
  }
}
/* END "lg-" 992px and up */

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .splash-desk {
    background-image: url(img/splash.png);
    background-size: contain;
    background-position: 0%;
    background-repeat: no-repeat;
    height: 95vh;
    background-color: #f6e6e6;
    background-attachment: fixed;
  }

  .desk-sidebar {
    background-color: #efefef;
  }

  .splash-bg {
    background-color: #efefef;
  }

  .flaske-desk {
    object-fit: cover;
    object-position: 50%;
    width: 100%;
  }

  .grafik-frugt {
    width: 50%;
  }

  .padding-ekstra {
    padding: 10rem;
  }
}
/* END "xl-" 1200px and up */

/* // Extra Extra large (XXL) devices (XXL screens, 1400px and up) */
@media (min-width: 1400px) {
}
/* END "xxl-" 1400px and up */
